h1{
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
p1{
border-top: 5px solid green;
border-bottom: 2px dashed red;
border-right: 5px solid green;
border-left: 2px dotted green;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
padding: 10px 20px 10px 20px;
margin-top: 40px;
}