.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modalContent {
  background: rgba(21, 21, 21, 0.95);
  padding: 2rem;
  border-radius: 12px;
  max-width: 70%;
  width: 90%;
  max-height: 80vh;
  position: relative;
  z-index: 2001;
  overflow-y: auto;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}
